@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html, body {
    height: 100vh;
    width: 100vw;
    background-color: var(--Light-gray);
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qr-code-card {
    background-color: var(--White);
    border-radius: 15px;
    height: 497px;
    width: 320px;
    padding: 15px;
    text-align: center;
    font-family: "outfit", sans-serif;
}

.qr-code-card img {
    width: 288px;
    border-radius: 10px;
}

.qr-code-card .card-text {
    padding: 20px;
}

.qr-code-card .card-text h2 {
    font-size: 22px;
    color: var(--Dark-blue);
    
}

.qr-code-card .card-text p{
    font-size: 15px;
    padding-top: 14px;
    font-weight: 400;
    color: var(--Grayish-blue);
}